[Unit]
Description=Age Of Empires 2 Telegram Bot
After=network.target

[Service]
Type=simple
User=opc
Group=opc

EnvironmentFile=/home/opc/.config/%N/env
ExecStart=/usr/bin/python3 -m aoe2_bot

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
